.About-us {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About-us .About-us-video {
  width: 100%;
  height: 50vh;
}

.About-us .Lower-section {
  width: 60%;
}

.About-us .Lower-text-section div {
  margin: 20px 0px;
}

.About-us .Mouse-image {
  height: auto;
  max-width: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.About-us strong {
  font-weight: 700;
}

.About-us .Yhteystiedot-teksti1 a {
  text-decoration: none;
  color: #585858;
}

.About-us .Digi-linkki a {
  text-decoration: none;
  color: #17c3bb;
}

.About-us .Tieto-teksti {
  color: #585858;
  font-family: "abadi-mt", Sans-serif;
  font-size: 39px;
  font-weight: 400;
  margin-top: 0;
  text-align: left;
}

.About-us .Tietoteksti {
  color: #585858;
  font-family: "abadi-mt", Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.About-us .Yhteystiedot-otsikko {
  color: #17c3bb;
  font-family: "abadi-mt", Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.About-us .Yhteystiedot-teksti1 {
  color: #585858;
  font-family: "abadi-mt", Sans-serif;
  font-size: 20px;
}

.About-us .Yhteystiedot-teksti2 {
  margin-top: 50px;
  text-align: center;
  font-family: "abadi-mt", Sans-serif;
  font-size: 22px;
}

.About-us .Yhteystiedot-teksti3 {
  text-align: center;
  font-family: "abadi-mt", Sans-serif;
  font-size: 23px;
}

.About-us .Digi-linkki {
  color: red;
  font-family: "abadi-mt", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.About-us .About-us-button {
  font-family: "Roboto", Sans-serif;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-color: #8ad4ee;
  border: 0px;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.About-us .About-us-button p {
  margin: 0px;
  color: black;
  text-decoration: none;
}

.About-us .About-us-button p:hover {
  cursor: pointer;
}

.About-us .About-us-button-image {
  position: absolute;
  left: 10px;
}

.About-us .Yhteistyossa a {
  text-decoration: none;
  color: #585858;
}

.About-us .Yhteistyossa {
  font-family: "abadi-mt", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.About-us .img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.About-us .img-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.About-us .Loput-kuva {
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .About-us .Lower-section {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .About-us .Tieto-teksti p {
    text-align: center;
    font-size: 32px;
  }
}
@media screen and (max-width: 650px) {
  .About-us .Lower-section {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .About-us .Tieto-teksti p {
    text-align: center;
    font-size: 28px;
  }
  .About-us .Yhteystiedot-teksti1 {
    font-size: 20px;
  }
  .About-us .Yhteystiedot-teksti2 {
    font-size: 20px;
  }
  .About-us .Yhteystiedot-teksti3 {
    font-size: 20px;
  }
}
