.Exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  min-height: 83vh;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 20% 0px 20%;
}
.Section-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.Section-buttons button {
  border-radius: 39px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
  padding: 5px;
}
.Section-buttons button:hover {
  opacity: 80%;
  cursor: pointer;
}
.White-text {
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.TextImage {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 275px;
}
.text50 {
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  background: #fbfbfb;
  box-shadow: 0px 2px 11.3px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: 87.5%;
  display: flex;
  align-items: center;
  margin: 0;
}
.image50 {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}

/* Multiple 50s images / texts : */
.TextImages {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
}
.text50s {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  border-radius: 20px;
  height: 100%;
  margin: 0px;
}
.image50s {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.Active-button {
  background: #507cd7;
  color: white;
}
.not-active {
  background: #d9d9d9;
  color: #000;
}
/* All different syles */

.Apinmaja-style {
  background: linear-gradient(
      180deg,
      rgba(5, 60, 202, 0.85) 0%,
      rgba(0, 215, 163, 0.5) 100%
    ),
    url("/games/Apin-maja.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
