.Exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  min-height: 83vh;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 20% 0px 20%;
}
.Exercise .Section-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.Exercise .Soundcloud {
  width: 100%;
  margin-top: 20px;
}
.Exercise .Section-buttons button {
  border-radius: 39px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 150px;
  padding: 5px;
}
.Exercise .Section-buttons button:hover {
  opacity: 80%;
  cursor: pointer;
}
.Exercise .White-text {
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.Exercise p {
  margin-bottom: 0px;
}
.Exercise .TextImage {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.Exercise .text50 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 0px;
  border-radius: 20px;
  padding: 10px 0px;
}
.Exercise .image50 {
  border-radius: 20px;
  width: 100%;
}

/* Multiple 50s images / texts : */
.Exercise .TextImages {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
}
.Exercise .text50s {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  margin: 0px;
}
.Exercise .Text-50-container {
  background-color: white;
  width: 50%;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}
.Exercise .image50s {
  border-radius: 20px;
  width: 100%;
}
.Exercise .Image-container {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.Exercise .Full-image {
  margin: 20px 0px;
  border-radius: 20px;
  max-height: 75%;
  max-width: 75%;
}
.Exercise .Full-image-container {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0px;
}
.Exercise .Text-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}
.Exercise .Text {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}
.Exercise a {
  text-decoration: none;
}
.Exercise .Kysymys-vaihtoehdot {
  width: 100%;
}
.Exercise .Vaihtoehto {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}
.Exercise .Vaihtoehto:hover {
  opacity: 80%;
  cursor: pointer;
}
.Exercise .Active-button {
  background: #507cd7;
  color: white;
}
.Exercise .not-active {
  background: #d9d9d9;
  color: #000;
}
.Exercise .Unity-loader-div {
  width: 100%;
}
.Exercise .Numerolista {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.Exercise .Pallolista {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.Exercise .Unity {
  height: 100%;
  min-height: 600px;
}
.Exercise .Correct-answer {
  background-color: #00d7a3;
}
.Exercise .Wrong-answer {
  background-color: #ff0000;
  color: white;
}
.Exercise .tox-tinymce {
  width: 100%;
}
.Exercise .Control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.Exercise .Control-button {
  background-color: #507cd7;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px;
  border: 0px;
  width: 100px;
}
.Exercise .Control-button:hover {
  opacity: 80%;
  cursor: pointer;
}
.Exercise .CommonButton img {
  display: none;
}
.Exercise .Oikea-vaihtoehto {
  background-color: #00d7a3;
}
.Exercise .Blue-text {
  background-color: #cae0e9;
  padding: 10px;
  text-align: center;
  font-family: mulish;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}
.empatia-polku-style {
  background: linear-gradient(
      180deg,
      rgba(35, 133, 95, 0.85) 0%,
      rgba(12, 133, 42, 0.5) 100%
    ),
    url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.Exercise .Posti-div img {
  background: transparent;
}

.Exercise .Red-text {
  color: #c1331b;
}
.Exercise .Text-div-yellow {
  background-color: yellow;
  padding: 20px 10px 20px 10px;
  width: 100%;
  margin-top: 60px;
}
.Exercise .Text-div-yellow p {
  font-size: larger;
  font-weight: bolder;
}
.Exercise .Blue-button {
  fill: #fff;
  color: #fff;
  background-color: #8ad4ee;
  border-style: solid;
  border-width: 0;
  border-radius: 15px;
  padding: 20px 119px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Exercise .Blue-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.Exercise .puhelimet {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Exercise .Puhelin-div img {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.Exercise .image25 {
  width: 100%;
}

/* All different syles */
.Apinmaja-style {
  background: linear-gradient(
      180deg,
      rgba(5, 60, 202, 0.85) 0%,
      rgba(0, 215, 163, 0.5) 100%
    ),
    url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.hasan-studio-style {
  background: linear-gradient(
    180deg,
    rgba(255, 107, 0, 0.5) 0%,
    rgba(255, 0, 199, 0.25) 100%
  );
}
.tweetyn-viestiseina-style {
  background: linear-gradient(
    180deg,
    rgba(13, 151, 159, 0.5) -1.49%,
    rgba(108, 3, 214, 0.27) 101.07%
  );
}
.Dogen-boxi-style {
  background: linear-gradient(
    181deg,
    rgba(0, 117, 255, 0.27) 0.61%,
    rgba(250, 156, 15, 0.21) 56.45%
  );
}
.kursorin-ullakko-style {
  background: linear-gradient(
    180deg,
    rgba(182, 94, 22, 0.5) 0%,
    rgba(177, 76, 56, 0.23) 57.91%,
    rgba(175, 87, 67, 0) 117.03%
  );
}
.siryn-alytalo-style {
  background: linear-gradient(
    180deg,
    rgba(87, 58, 100, 0.5) 0%,
    rgba(87, 58, 100, 0.25) 100%
  );
}
.laaman-aitaus-style {
  background: linear-gradient(
    180deg,
    rgba(0, 255, 10, 0.5) 0%,
    rgba(36, 51, 37, 0.25) 100%
  );
}
.miuku-maukun-kirjasto-style {
  background: linear-gradient(
    180deg,
    rgba(153, 61, 47, 0.5) 0%,
    rgba(255, 96, 148, 0.38) 53.12%,
    rgba(81, 40, 114, 0.25) 100%
  );
}
.ohjelmointi-polku-style {
  background: linear-gradient(
    181deg,
    #6777b4 0.54%,
    rgba(163, 25, 91, 0) 167.48%
  );
}
@media screen and (max-width: 1000px) {
  .Exercise {
    padding: 20px;
    width: 95%;
  }
  .Exercise .Unity-loader-div {
    display: none;
  }
  .small-title {
    display: none;
  }
  .Exercise .Text-div {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .Numerolista {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .Pallolista {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .Vaihtoehto {
    width: 95%;
  }
  .Exercise h3 {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .Exercise {
    padding: 20px;
  }
  .Exercise .Full-image {
    width: 90%;
  }
  .Exercise .Full-image-container {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .TextImage {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Exercise .TextImages {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Exercise .text50s {
    padding: 10px 0px;
  }
  .Exercise .text50 {
    width: 100%;
  }
  .Exercise .Text-50-container {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .Image-container {
    width: 95%;
    padding: 2.5%;
  }
  .Exercise .Text {
    padding: 0px;
  }
}
@media screen and (max-width: 600px) {
  .Exercise .White-text,
  .Text {
    font-size: 20px;
  }
  .Exercise iframe {
    width: 100%;
    height: 100%;
  }

  .Exercise {
    margin: 0;
    padding: 2%;
  }
  .Exercise .Vaihtoehto {
    font-size: 16px;
    padding: 10px 5%;
    width: 90%;
  }
  .Exercise .Text-div {
    width: 95%;
    padding: 2.5%;
  }

  .Exercise .puhelimet {
    flex-direction: column;
  }
}
