.field-holder :focus + label {
  top: -15px;
  left: 0;
  font-size: 0.9em;
}
.field-holder input::placeholder {
  color: #79efe9;
}
.field-holder input {
  font-weight: 600;
  background-color: transparent;
}
.field-holder {
  opacity: 80%;
  font-weight: 600;
  border-bottom: 3px solid black;
}
.field-holder :focus {
  opacity: 100%;
}

.field-holder {
  display: flex;
  align-items: center;
  position: relative;
}
.field-holder label {
  position: absolute;
  left: 0;
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
  margin-left: 1px;
}
.field-holder :not(:placeholder-shown) + label {
  top: -15px;
  font-size: 0.9em;
}
