/* Body Overflow */
body {
  overflow-x: hidden;
}

/* Home Wrapper */
.Home-wrapper {
  margin: 2.5% 12.5%;
}

/* Home Read More */
.home-read-more {
  display: flex;
  margin-top: 2.5%;
  gap: 2.5%;
  justify-content: center;
}

/* Media Text in Home Read More */
.home-read-more > .mediaText {
  width: 47.5%;
}

/* Media Text Paragraph and Heading */
.home-read-more > .mediaText > p,
.home-read-more > .mediaText h3 {
  font-size: 1.375em;
  opacity: 0.7;
  font-family: "Tahoma", sans-serif;
  font-style: normal;
}

/* Image in Media Text */
.home-read-more > .mediaText img {
  height: 300px;
  width: 95%;
  object-fit: cover;
  scale: 1;
}

/* Image Container in Media Text */
.home-read-more > .mediaText > .image-container {
  position: relative;
}

/* Button in Image Container */
.home-read-more > .mediaText > .image-container button {
  position: absolute;
  bottom: 5px;
  right: 30px;
  border: 0px;
  background-color: #58c9e9;
  width: 100px;
  height: 40px;
  color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 1.125em;
}

/* Button Hover Effect */
.home-read-more > .mediaText > .image-container button:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Empatia Polku Section */
.home-empatia-polku {
  margin-top: 2.5%;
}

/* Image in Empatia Polku Section */
.home-empatia-polku img {
  width: 100%;
  box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.5);
}

/* Heading in Empatia Polku Section */
.home-empatia-polku h3 {
  width: 90%;
}

.Home-wrapper .Exercise-cards {
  padding: 0px;
}

/* Adjust Home Wrapper Margin for Smaller Screens */
@media screen and (max-width: 1500px) {
  .Home-wrapper {
    margin: 2.5% 2%;
  }
}

/* Adjust Video Text Layout for Smaller Screens */
@media screen and (max-width: 1100px) {
  .home-empatia-polku h3 {
    width: 100%;
  }
}

/* Adjust Layout for Smaller Screens */
@media screen and (max-width: 900px) {
  .home-read-more {
    flex-direction: column;
  }
  .home-read-more > .mediaText {
    width: 100%;
  }
  .home-read-more > .mediaText > .image-container button {
    right: 42px;
  }
}

/* Further Adjustments for Smaller Screens */
@media screen and (max-width: 475px) {
  .home-page-classes {
    gap: 1.25em;
    margin-top: 1.25em;
  }
  .home-read-more > .mediaText > .image-container button {
    right: 22px;
  }
}
