.Kassa {
  margin: 5% 15%;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  min-height: 64vh;
  border-radius: 20px;
}

.Kassa .Right-side,
.Kassa .Left-side {
  position: relative;
  width: 50%;
  padding: 0% 2.5%;
  padding-bottom: 50px;
}
.Kassa .Left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Kassa .Right-side .Buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Kassa .Right-side button {
  text-align: center;
  padding: 12.5px 0px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #8ccbf3;
  color: white;
  font-family: mulish;
  font-weight: bold;
  border: 3px;
  padding: 10px;
  width: 20%;
}

.Kassa .Right-side button:hover {
  color: white;
  cursor: pointer;
}

.Kassa .Right-side .Button-1 {
  bottom: 10px;
}

.Kassa .Right-side .Button-2 {
  bottom: 10px;
}

.Kassa .section p,
.Kassa .section h2,
.Kassa .section h3 {
  font-family: mulish;
  font-weight: bold;
  opacity: 80%;
}

.Kassa .section p {
  font-size: 1rem;
}

.Kassa .section h2 {
  font-size: 1.5rem;
  text-align: center;
}

.Kassa .Right-side .Names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Kassa .Right-side .Names input {
  width: 100%;
}
.Kassa .Right-side .Names div {
  width: 30%;
}

/* Home section */
.Kassa .Right-side .Home .Inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Kassa .Right-side .Home .Inputs div {
  width: 47.5%;
}
.Kassa .Right-side .Home .Inputs input {
  width: 100%;
}
.Kassa .Right-side .Home p {
  margin-bottom: 0px;
}
.Kassa .Right-side .Delivery,
.Kassa .Right-side .Credentials {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Kassa .Right-side .Delivery input,
.Kassa .Right-side .Credentials input {
  width: 100%;
}
.Kassa .Right-side .Delivery div,
.Kassa .Right-side .Credentials div {
  width: 47.5%;
}
.Kassa .Right-side input {
  height: 25px;
  padding: 5px;
}
.Kassa .Right-side .Password {
  width: 100%;
}
.Kassa .Right-side .Password div,
input {
  width: 100%;
}
/* Tilaus */
.Kassa .Right-side .Kuponki {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.Kassa .Right-side .Kuponki input {
  width: 50%;
}
.Kassa .Right-side .Kuponki .Lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Kassa .Right-side .Kuponki .Lower div {
  display: flex;
  width: 100%;
}
.Kassa .Right-side .Kuponki .Lower button {
  margin-top: 0px;
  width: 200px;
}
.Kassa .Right-side .Tilauksesi .Item {
  display: flex;
  gap: 10px;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.Kassa .Left-side .Current-image img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .Kassa {
    margin: 5% 5%;
  }
  @media screen and (max-width: 1000px) {
    .Kassa .Left-side {
      width: 40%;
    }
    .Kassa .Right-side {
      width: 60%;
    }
  }
  @media screen and (max-width: 800px) {
    .Kassa .Left-side {
      display: none;
    }
    .Kassa .Right-side {
      width: 93%;
    }
  }
  @media screen and (max-width: 600px) {
    .Kassa .Names {
      flex-direction: column;
    }
    .Kassa .Right-side .Names div {
      width: 98%;
    }
    .Kassa {
      height: 100%;
    }
    .Kassa .Right-side .Buttons {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      justify-content: space-between;
      gap: 10px;
      margin-top: 50px;
    }
    .Kassa .Right-side .Button-2 {
      position: relative;
      width: 95%;
      height: 50px;
      margin-top: 0px;
    }
    .Kassa .Right-side .Button-1 {
      position: relative;
      width: 95%;
      height: 50px;
      margin-top: 0px;
    }
  }
}
@media screen and (max-width: 400px) {
  .Kassa .Right-side .Home .Inputs,
  .Kassa .Right-side .Delivery,
  .Kassa .Right-side .Credentials {
    flex-direction: column;
  }
  .Kassa .Right-side .Home .Inputs div,
  .Kassa .Right-side .Delivery div,
  .Kassa .Right-side .Credentials div {
    width: 98%;
  }
}
