.Login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", Sans-serif;
}
.Login-wrapper h3 {
  border: 3px solid black;
  padding: 20px 140px;
  border-radius: 10px 10px 0px 0px;
  width: 100px;
  margin-bottom: 0px;
  background-color: #17c3bb;
  color: white;
}
.Login-content {
  border: 3px solid black;
  border-top: 0px;
  height: 360px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  padding-top: 10%;
  width: 380px;
  background-color: #79efe9;
}
.Login-content button img {
  display: none;
}
.Login-content button {
  height: 50px;
  background-color: transparent;
  border: 3px solid #000000;
  color: black;
  border-radius: 1px;
  opacity: 60%;
}
.Login-content .No-account {
  border: 3px solid black;
  padding: 5px;
  width: 65%;
  height: 70px;
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  opacity: 60%;
}
.Login-content a {
  text-decoration: none;
}
