/* Login Wrapper */
.Login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  background: url("/images/taivas.jpg");
  min-height: 84vh;
}

/* Login Wrapper Heading */
.Login-wrapper h3 {
  border: 5px solid #17c3bb;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 0px;
  background-color: #17c3bb;
  color: white;
  max-width: 350px;
  text-align: center;
  padding: 10px 0px;
}

/* Login Content */
.Login-content {
  border: 5px solid #17c3bb;
  border-top: 0px;
  height: 100%;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10%;
  max-width: 350px;
  background-color: #79efe9;
  padding-bottom: 20px;
}

/* Hide Image Inside Button */
.Login-content button img {
  display: none;
}

/* Login Button */
.Login-content button {
  height: 50px;
  background-color: transparent;
  border: 3px solid #000000;
  color: black;
  border-radius: 1px;
  opacity: 60%;
}

/* No Account Section */
.Login-content .No-account {
  border: 3px solid black;
  padding: 5px;
  width: 65%;
  height: 70px;
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  opacity: 60%;
  text-align: center;
  margin: 20px 125px;
}

/* Remove Text Decoration from Links */
.Login-content a {
  text-decoration: none;
}
