.Products {
  position: relative;
  padding: 20px 0px;
}
.Products header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.Products .Add-to-cart {
  position: absolute;
  top: 15px;
  left: 15px;
}
.Products .Add-to-cart button {
  background-color: #000;
}
.Product-boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  min-height: 350px;
  margin: 0px 20px;
}
.Products-box {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(104, 88, 46, 0.2);
  flex: 1;
  min-width: 250px;
  padding: 20px;
}
.Products-box h3 {
  color: rgba(0, 0, 0, 0.8);

  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Products-box img {
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}
.Products-box p {
  color: rgba(0, 0, 0, 0.8);

  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px 10px;
}

.Properties {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Properties .Properties-child {
  display: flex;
  flex-direction: row;
}
.Properties .Properties-child img {
  width: 25px;
  height: 25px;
}
.Products h1 {
  color: #000;

  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0px;
}

@media screen and (max-width: 1050px) {
  .Product-boxes {
    flex-wrap: wrap;
  }
  .Products .Add-to-cart {
    position: static;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .Product-boxes {
    flex-direction: column;
  }
  .Products header {
    flex-direction: column;
  }
  .Products-box {
    width: 88%;
  }
}
