/* Teacher Profile Wrapper */
.Teacher-profile-wrapper {
  margin: 0% 15%;
  background-color: white;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 4;
}

/* Header and Text Styles */
.Teacher-profile-wrapper h3,
.Teacher-profile-wrapper h4,
.Teacher-profile-wrapper p {
  font-weight: 600;
  opacity: 80%;
  font-family: "Roboto", sans-serif;
}

/* Profile Header */
.Teacher-profile-wrapper .Profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Greeting and Right Header Styles */
.Profile-greeting,
.Right-header {
  text-align: left;
}
.Profile-greeting .Logout {
  color: red;
  opacity: 50%;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.Profile-greeting .Logout:hover {
  cursor: pointer;
  opacity: 100%;
}

.Right-header {
  border-left: 3px solid #c2c2c2;
  padding-left: 20px;
}

/* Notifications */
.Notifications {
  margin-right: 10px;
}

/* Upper Mid Section */
.Teacher-profile-wrapper .upper-mid {
  margin-top: 4%;
}

/* Upper Mid Content */
.Teacher-profile-wrapper .upper-mid .Content {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Button Styles */
.Teacher-profile-wrapper .upper-mid .Content button {
  height: 40px;
  background-color: #4a85f6;
  border: none;
  color: white;
  opacity: 100%;
  border-radius: 8px;
}

/* Text Styles for Upper Mid Content */
.Teacher-profile-wrapper .upper-mid .Content h3,
.Teacher-profile-wrapper .upper-mid .Content h4 {
  color: white;
  opacity: 100%;
}

/* Button Hover Effect */
.Teacher-profile-wrapper .upper-mid .Content button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* Searchbar */
.Teacher-profile-wrapper .upper-mid .Content .Searchbar {
  width: 500px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Add Student Section */
.Add-student {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

/* Info Section */
.Teacher-profile-wrapper .Info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

/* Info Box Styles */
.Teacher-profile-wrapper .Info-section .Info-box {
  background-color: white;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* Text Styles for Info Box */
.Teacher-profile-wrapper .Info-section .Info-box h3,
.Teacher-profile-wrapper .Info-section .Info-box p {
  margin: 0px;
}

.Teacher-profile-wrapper .Info-section .Info-box h3 {
  opacity: 60%;
  color: #4a85f6;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Student Titles Section */
.Teacher-profile-wrapper .Student-titles {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 4%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  border-radius: 8px 8px 0px 0px;
}

/* Student Title */
.Teacher-profile-wrapper .Student-title {
  width: 10vw;
}

/* Student Info Section */
.Student-info {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding: 0px 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Student Info Title */
.Student-info h3:hover {
  cursor: pointer;
}
.Student-info h3 {
  width: 10vw;
  font-size: 16px;
}
.Student-info div {
  width: 10vw;
  display: flex;
  align-items: center;
}
.Student-info div img {
  margin-left: 25px;
}

/* Hover Effect for Student remove*/
.Student-info .Remove-button img:hover {
  cursor: pointer;
  transform: scale(1.1);
  animation: transform 1s ease-in-out;
}

/* Create Student Section */
.Create-student {
  margin-top: 2.5%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-in-out;
}

/* Field Holder Styles */
.Create-student .field-holder {
  width: 100%;
}

/* Button Styles for Create Student */
.Create-student button {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  padding: 3px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 2px solid #4a85f6;
}

/* Button Hover Effect for Create Student */
.Create-student button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Field Holder Border */
.Create-student .field-holder {
  border-bottom: 3px solid #4a85f6;
}
.Teacher-mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .Teacher-section .Info-section {
    display: flex;
  }
  .Teacher-section .Info-section .Info-box {
    width: 30%;
    margin: 0px;
    margin: 2.5px;
  }
}
@media screen and (max-width: 800px) {
  .Teacher-mobile {
    display: block;
  }
  .Teacher-section {
    display: none;
  }
}
