.Register .Login-content {
  gap: 30px;
  height: 600px;
  padding-bottom: 10%;
  width: 350px;
}
.Register .Login-content h3 {
  max-width: 380px;
}
.Register .Login h3 {
  padding: 20px 0px;
}
.Register .Register-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.Register-login button:hover {
  scale: none;
}
.Register-login span {
  display: flex;
  justify-content: center;
}
.Register .CommonButton {
  width: 100%;
  min-width: 175px;
}
