/* Searchbar Container */
.Searchbar {
  background-color: white;
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

/* Search Input Field */
.Searchbar input {
  border: 0;
  outline: none;
  background-color: transparent;
  opacity: 30%;
  width: 100%;
}

/* Search Icon */
.Searchbar img {
  opacity: 30%;
}

/* Focus Styles for Input */
.Searchbar input:focus {
  border: 0;
  outline: none;
}
