.trollkomm {
  margin-left: 140px;
  margin-right: 140px;
}

.trollkomm .normiTekstit {
  font-family: mulish;
}

.trollkomm .tuntomerkit {
  font-family: mulish;
  font-size: 17px;
  margin-top: 40px;
}
.trollkomm .merkit {
  margin-top: 40px;
}

.trollkomm .Otsikko {
  margin-top: 40px;
  font-weight: bold;
}
