@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
.error {
  color: red;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  opacity: 80%;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  margin: 5px;
}
